<h2>Hi, I'm Nori</h2>
<p>I strive to be an amateur (from French 'one who loves')—
to do what I like and to like what I do. I am an amateur thinker and an amateur writer.</p>

<p>To be honest, I mostly write about myself, or rather, about the things that are on my mind, hoping there might be some general in the particular, or that it will be useful to someone else. </p>

<p>In the real world, I have a PhD in biophysics and a day job in data analysis and teaching.</p> 

<p>I am from Slovakia, now living in Norway with my Viking husband and two little wildlings.</p>
