{{ $sectionPages := where site.RegularPages "Section" "microblog" }}
{{ $current := . }}
{{ $next := false }}
{{ $prev := false }}

{{ range $i, $p := $sectionPages }}
  {{ if eq $p.RelPermalink $current.RelPermalink }}
    {{ if gt $i 0 }}
      {{ $next = index $sectionPages (sub $i 1) }}
    {{ end }}
    {{ if lt $i (sub (len $sectionPages) 1) }}
      {{ $prev = index $sectionPages (add $i 1) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if or $next $prev }}
<div class="nextprev">
  <div class="prev">
    {{- with $prev }}
    <a class="prev-link" href="{{ .RelPermalink}}">
      <div>🡠 {{ .Title }}</div>
    </a>
    {{ end -}}
  </div>
  <div class="next">
    {{- with $next -}}
    <a class="next-link" href="{{ .RelPermalink}}">
      <div>{{ .Title }} 🡢</div>
    </a>
    {{ end -}}
  </div>
</div>
{{ end }}
