/* ~~~~~~ Footer ~~~~~~ */
footer {
  border-top: 2px solid var(--frame);
  margin-top: 0.5rem;

}

.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 60ch;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
}

.privacy-policy:hover {
    transform: rotate(-7deg) scale(1.05);
}

.footer-rss {
  position: relative;
  transition: transform 0.2s ease;
}

.footer-rss img:hover  {
    transform: rotate(10deg) scale(1.05);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}

.footer-rss img {
    height: 36px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
    border: solid 1px var(--frame);
    margin-top: 0.25rem;
}

.kofi-button {
  position: relative;
  transition: transform 0.2s ease;
}


.kofi-button img:hover  {
    transform: rotate(-2deg) scale(1.05);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}

.kofi-button img {
    height: 36px;
    border-radius: 15px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
    border: solid 1px var(--frame);
    margin-top: 0.25rem;
}


.top-footer::after {
  content: "";
  position: absolute;
  top: 0rem;
  left: -10rem;
  width: 120px;
  height:120px;
  background-image: url('/img/stamp-nobg.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  pointer-events: none;
}


.copyright {
    text-align: center;
    max-width: 100ch;
    padding: 0 1rem;
    margin: 0 auto;
}
