
/* ~~~~~~ Microblog ~~~~~~ */

/* Section */
.micro-section {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    margin: 3rem auto;
    padding: 1rem;
    text-align: left;
    border: 2px solid var(--frame);
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.05);
    position: relative;
    
}
.micro-section::after {
  content: "";
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  width: 120px;
  height: 120px;
  background-image: url('/img/inkstain.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  pointer-events: none;
}


.micro-section-title {
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 3px dashed var(--frame);
    padding-bottom: 0.5rem;
}

.micro-header {
  text-align: left;
  color: var(--text-subtle);
  margin: 0;
  padding: 0;
  padding-top: 1.5rem;
}

.micro-content {
    color: var(--ink-stain);
}

/* Single */

.micro-article {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--frame);
    border-radius: 12px;
    padding: 0 1rem;
    margin: 3rem auto;
    max-width: 700px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.05);
    position: relative;
}

.micro-article::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 120px;
  height: 120px;
  background-image: url('/img/inkstain.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  pointer-events: none;
}









