/* ~~~~~~ poems/section.html and poems/single.html ~~~~~~ */

.section-poetry {
    display: flex;
    flex-direction: column;
}

.section-poetry h1 {
    max-width: 80ch;
    padding: 1rem;
    margin: 0rem;
    font-size: 2rem;
}

.individual-poem {
    max-width: 80ch;
    margin: 0;
    padding: 0 1rem;
}

.individual-poem h2 {
    margin: 0;
    padding: 0;
}

.individual-poem a {
    color: var(--rosewood);
    font-size: 1.2rem;
    text-decoration: none;
}







/* single.html */
.single-poem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.single-poem header {
    max-width: 120ch;
    margin: 1rem 0 0 0;
    padding: 0 1rem;
    text-align: left;
}

.poem-text {
    max-width: 120ch;
    margin: 0 auto 1rem auto;
    padding: 0 1rem;
    text-align: left;
}

.single-poem img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 0;
  margin: 2rem auto;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}

.single-poem figure {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.single-poem .section-title a {
  text-transform: uppercase;
  color: var(--text-subtle);
  margin-bottom: 1rem;
  text-decoration: none;
}

.single-poem .section-title a:hover {
    text-decoration: underline;
    color: var(--highlight);
}

.single-poem .meta {
    font-size: 1rem;
    color: var(--text-subtle);
    margin-bottom: 0rem;
}

.single-poem .meta a {
    color: var(--text-subtle);
}

.back-to-poems {
    text-align: center;
    font-size: 1.1rem;
    margin: 2rem;
    text-transform: uppercase;
}

.back-to-poems a {
    color: var(--text-subtle);
    text-decoration: none;
}

.back-to-poems a:hover {
    text-decoration: underline;
    color: var(--highlight);
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.columns .column {
    flex: 1;
}

@media (max-width: 1000px) {
    .columns {
	flex-direction: column;
    }
}
