.sidebar-extras-section {
    
}

.sidebar-widgets1 {
    padding: 0.5rem;
    margin: 0rem;
    display: block;
    background-color: var(--sidebar-bg);
    background-image: url('/img/textured-paper.png');
    background-size: auto;
    background-repeat: repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
    border: 1px solid var(--frame);
}

.sidebar-archive {
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    /*
      Above is shorthand for:
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:15px 255px;
      */
    border: solid 1px var(--pencil-grey);

}

.sidebar-widgets2 {
    max-width: 150px;
    padding: 0.2rem;
    margin: 1.5rem auto;
    display: block;
    background-color: var(--bg-paper);
    background-image: url('/img/grid-paper.jpg');
    background-size: auto;
    background-repeat: repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
    transform: rotate(5deg);
    
}

.sidebar-widgets2::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: -5.5rem;
  width: 80px;
  height:80px;
  background-image: url('/img/pressed_flower_1.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  pointer-events: none;
}

.sidebar-rss {
    padding: 0 0.8rem 0 0.8rem;
    margin: 1rem 0.5rem 0 0.5rem;
   
}

.sidebar-rss h3,
.sidebar-rss p {
    transform: rotate(-7deg);
}

.sidebar-rss p{
    text-align: center;
}

.sidebar-rss img:hover  {
    transform: scale(1.5);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}

.sidebar-rss img {
    height: 44px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
    border: solid 1px var(--frame);
    transition: transform 0.2s ease;
}


.sidebar-widgets3 {
    padding: 0.4rem;
    margin: 4rem 0 2rem 0;
    display: block;
    background-color: var(--pale-mint);
    background-image: url('/img/cardboard.png');
    background-size: auto;
    background-repeat: repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    transform: rotate(-2.5deg);
}

.tape {
    background-color: hsla(14.4,30%,50%,.2); //hue, saturation, lightness, alpha orig (0,0%, 100%,.2)
    box-shadow: inset 0 0 1em .5em hsla(14.4,30%,50%,.1); //inset puts the shadow in
    height: 3em;
    width: 10em;
    position: absolute;
    -webkit-filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.3));
    top: 0rem;
    left: 6.5rem;
    transform: rotate(35deg);
}

@media (max-width: 849px) {
    .tape {
	top: -1.5rem;
	left: 7rem;
	transform: rotate(0deg);
    }
}


// tape edges
// two gradients crossing at 45 and -45 deg, create a repeating zig-zag of transparent vs white
// placed slightly outside with left:
.tape:after,
.tape:before {
  background-size: .4em .4em;
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: .2em;
}
.tape:after {
  background-image: linear-gradient(45deg, transparent 50%, hsla(14.4,30%,50%,.3) 50%),
                    linear-gradient(-45deg, transparent 50%, hsla(14.4,30%,50%,.3) 50%);
  background-position: 0 100%;
  left: -.2em;
}
.tape:before {
  background-image: linear-gradient(135deg, transparent 50%, hsla(14.4,30%,50%,.3) 50%),
                    linear-gradient(-135deg, transparent 50%, hsla(14.4,30%,50%,.3) 50%);
  background-position: 100% 100%;
  right: -.2em;
}




.sidebar-tagcloud {
    margin: 0.5rem;
    padding: 0.5rem;

}

.tagcloud-item {
    color: var(--graphite);
    text-decoration: none;
    font-family: 'Special Elite';
    display: inline-block;
    transition: transform 0.2s ease;
    
}

.tagcloud a:nth-of-type(5n+1) { transform: rotate(-2.5deg); }
.tagcloud a:nth-of-type(3n+3) { transform: rotate(1deg); }
.tagcloud a:nth-of-type(3n+4) { transform: rotate(-4deg); }
.tagcloud a:nth-of-type(5n+5) { transform: rotate(3deg); }

.tagcloud a:hover {
    color: var(--rosewood);
}

.sidebar-widgets4 {
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    margin-bottom: 6rem;
}

.flower-link {
    position: absolute;
    top: 0rem;
    right: -3rem; /* pushes it into the margin */
    width: 90px; 
    opacity: 0.85;
    transition: opacity 0.3s ease;
}

.flower-link:hover {
    opacity: 1;
}

.flower-link img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none; /* ensures only the <a> is clickable */
}

@media screen and (max-width: 850px) {
    .sidebar-widgets4 {
	margin: 4rem;
    }
    .flower-link {
	top: -4rem;
	right: 0rem;
    }
}
