{{ if or .Next .Prev -}}
<div id="nextprev">
  
  
  <div class="flex justify-between w-100 pa3">
    {{- with .Prev }}
    <a class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1" href="{{ .RelPermalink}}">
      <div id="prevart">Previous:<br>{{.Title}}</div>
    </a>
    {{ end -}}

    {{- with .Next -}}
    <a class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1" href="{{ .RelPermalink}}">
      <div  id="nextart">Next:<br>{{.Title}}</div>
    </a>
    {{ end -}}
  </div>
</div>
{{ end -}}
