{{ if or .Next .Prev -}}
<div id="nextprev">
  
  
  <div class="flex justify-between w-100 pa0">
    {{- with .Prev }}
    <a class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib dark-gray sans-serif" href="{{ .RelPermalink}}">
      <div id="prevart">Previous:<br>{{.Title}}</div>
    </a>
    {{ end -}}

    {{- with .Next -}}
    <a class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib dark-gray sans-serif" href="{{ .RelPermalink}}">
      <div  id="nextart">Next:<br>{{.Title}}</div>
    </a>
    {{ end -}}
  </div>
</div>
{{ end -}}
