{{- define "main" -}}
<article class="h-entry blog-post-article single-article">
  <header>

    {{- with .CurrentSection.Title -}}
    <aside class="section-title">
      <a href="{{ $.CurrentSection.Permalink }}">{{ . }}</a>
    </aside>
    {{- end -}}

    <h1 class="p-name single-title">
      <a class="u-url" href="{{ .Permalink }}">
	{{ .Title }}
      </a>
    </h1>

    <img src="{{ .Params.featured_image }}" alt="{{ $.Params.f_alt | default $.Title }}">
    
    <p class="meta">
      {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
      {{- $dateHuman := .Date | time.Format ":date_long" -}}
      <time class="dt-published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <span class="reading-time-words">- {{ .ReadingTime }}-minute read - {{ .WordCount }} words - by</span>
      <span class="p-author h-card">
	<a class="u-url p-name" href="{{ .Site.BaseURL }}"> {{ .Site.Title }}</a>
      </span>
    </p>
    
    {{- if .TableOfContents -}}
    <details class="toc">
      <summary>Table of Contents</summary>
      {{- .TableOfContents -}}
    </details>
    {{- end -}}


  </header>
  <article class="single-article-main-content">
    <div class="e-content">
      {{- .Content -}}
    </div>
    {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
  </article>
  <section class="newsletter-signup">
    {{- partial "newsletter.html" . -}}
  </section>
  <section class="comments">
    {{- partial "comments.html" . -}}
  </section>
</article>

  <p class="copyright" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
  This work is licensed under
  <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0
    <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
    <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
  </a>.
</br>
This means you can distribute, remix, adapt, and build upon it, even for commercial purposes. You just need to give credit to me,
<a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="{{ .Site.Home.Permalink }}" >Nori Parelius</a>, and link to this site.
  </p>

{{- end -}}
